<!DOCTYPE HTML>
<html>
<head>
    {{!-- <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134953827-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134953827-1');
    </script> --}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/chats.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">




    <title>Mood</title>
</head>

<body>

    <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                {{!-- <li><a href="profiles"><img src="https://img.icons8.com/material/24/000000/user.png"></a></li> --}}
                <li><a href="overview"><img src="../images/New_Mood_Assets_A10-20190314T100549Z-001/New_Mood_Assets_A10/Black_Overview_Nav.png"></a></li>
                <li><a href="home"><img src="../images/New_Mood_Assets_A10-20190314T100549Z-001/New_Mood_Assets_A10/Black_Home_Nav.png"></a></li>
                <li><a class="active" href="chats"><img src="../images/New_Mood_Assets_A10-20190314T100549Z-001/New_Mood_Assets_A10/Black_Journal_Nav.png"></a></li>
                {{!-- <li><a href="groups"><img src="https://img.icons8.com/material/24/000000/groups.png"></a></li>  --}}
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->

    <h2 style="text-align: center">Journal</h2>
    {{!-- {{#each entries}} --}}
    <div>
		<table>
            {{!-- <tr class='clickable-row' data-href='open'> --}}
            <tr>
                {{!-- <td class="marginAbove"><p>Entry Topic: {{topic}}</p></td> --}}
                {{!-- <td><p>Mood: {{mood}}</p></td> --}}
                <td>{{tags}}<br><br><p>{{entry}}</p></td>
            </tr>
        </table>
    </div>
	{{!-- {{/each}} --}}

    {{!-- <script>
        jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    });
    </script> --}}
            
</body>
</html>