<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/login.css">



    <title>Mood</title>
</head>

<body>

    <header>
        <h2>Tell me about it.</h2>
    </header>

    <!-- potential change to form tag-->
    <section>
        <div>
            <textarea class='entry' name="entry" rows="10" cols="30" placeholder="Here is your safe space."></textarea>
        </div>
    </section>

    <section class="checkin">
        <a href="home"><img src="../images/A6 Assets/check in.png"></a>
    </section>


</body>
</html>