<!DOCTYPE HTML>
<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190348308-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


    {{!-- <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134953827-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134953827-1');
    </script> --}}

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-134953827-1', 'auto');
ga('send', 'pageview');
//ga("send", "event", 'form', 'click');
</script>
<!-- End Google Analytics -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">




    <title>Mood</title>
    {{> facebook}}
    <script src="/js/facebook.js"></script>

    <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = 
                    document.getElementById("user_input").value;
    }
    </script>

</head>

<body>

    <header>
        <h2>How do you feel?</h2>
    </header>

    <!-- Test block for if statement-->
    {{!-- <section>
        <form target="_self" action="sendEntry" method="POST">
            <textarea class='entry' name="entry" rows="10" cols="30" placeholder="Here is your safe space."></textarea>
             <input type="text" name="tags" placeholder="Enter related tags here.">
            <input class="checkin" onclick="window.location.href ='home';" type="image" value= "Submit" src="../images/A6 Assets/check in.png">
        </form>
    </section> --}}


    {{!-- <section class="checkin">
        <a href="home"><img src="../images/A6 Assets/check in.png"></a>
    </section> --}}


    {{!-- {{#if entryAlt}}
     --}}

     <div>
        <form target="_self" action="sendEntry2" method="POST">
            <textarea class='entry' name="entry" onclick="analytics()" rows="3" cols="30" placeholder="Here is your safe space." style="margin-bottom: 20px"></textarea>
            <div>
            <input class="entrybox" type="text" name="tags" onclick="analyticsC()" placeholder="Add Entry and Tags" style="width: 70%" id="user_input" style="margin-bottom: -20px">
            {{!-- <input class="plus" type="image" value="Submit" src="../images/+_button_updated.png"> --}}
            </div>
            {{!-- <input type="time" name="timestamp" step="1"> --}}
            <input class="checkin" onclick="time()" type="image" value= "Submit" src="../images/New_Mood_Assets_A10-20190314T100549Z-001/New_Mood_Assets_A10/Continue_Nav_Bar.png">
        </form>

    <p class="journal"><span id='display'></span></p>
    </div>

    <div class="letsgo">
    {{!-- <a href="home"><img style="padding: 20px 0 0 0" src="../images/New_Mood_Assets_A10-20190314T100549Z-001/New_Mood_Assets_A10/Continue_Nav_Bar.png"></a> --}}

    <img src="../images/A10 Assets/or_text.png" style="padding: 30px 0 30px 0">

    <!-- facebook button-->
    <section id="center">
            <a href="chats"><img class="skip" src="../images/A10 Assets/Group 2.png"></a>
    </section>
    </div>
    {{!-- {{else}}     
    <section>
        <form target="_self" action="sendEntry" method="POST" onclick="analytics()">
            <textarea class='entry' name="entry" rows="10" cols="30" placeholder="Here is your safe space."></textarea>
            <input class="checkin" onclick="analyticsB()" type="image" value= "Submit" src="../images/A6 Assets/check in.png">
        </form>
    </section>              
    {{/if}} --}}


</body>
</html>