<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">


    <title>Mood</title>
</head>

<body>

    <header>
        <div>
        <img class="logo" src="../images/A6 Assets/mood logo.png">
        </div>
    </header>

    <section>
        <div>
        <!--<img class="bar" src="../images/A6 Assets/login bar.png">-->
            <input type="text" placeholder="Enter Username" name="uname" required>
        <!---<img class="bar2" src="../images/A6 Assets/login bar.png">-->
            <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
    </section>

    <!--href for linking to index-->
    <section>
        <a href="home"><img class="button" src="../images/A6 Assets/login button .png"></a>
    </section>

    <section>
        <a href="home"><img class="gobutton" src="../images/A6 Assets/google button.png"></a>
    </section>
    <!--End of login buttons-->

            
</body>
</html>