<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">


    <title>Mood</title>
</head>

<body>

    <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                <li><a class="active" href="/"><img src="../images/home-icon-silhouette.png"></a></li>
                <li><a href="profiles"><img src="../images/Group 8.png"></a></li>
                <li><a href="overview"><img src="../images/Path 3.png"></a></li>
                <li><a href="chats"><img src="../images/Group 6.png"></a></li>
                <li><a href="groups"><img src="../images/Group 2.png"></a></li>    
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->

    <section class="at_a_glance">
        <h2 class="title">At A Glance</h2>
        <!--table-->
        <table>
        <tr>
            <td>
                <img src="../images/Group.png">
            </td>
            <td>
                <p>"Today has been going really well so far, I went on a run..."</p>
            </td>

        </tr>
        <!--post 1-->

        <tr>
            <td>
                <img src="../images/Combined Shape.png">
            </td>
            <td>
                <p>Good Vibe of the Day: <u>Gym</u></p>
            </td>

        </tr>
        </table>
        <!--post 2-->
    </section>

    <!--End of At A Glance-->

        <section class="recent_friend_post">
        <h2 class="title">Recent Friend Post</h2>
        <!--table-->
        <table>
        <tr>
            <td>
                <img src="../images/Group.png">
            </td>
            <td>
                <p>Winson      2h</p>
                <p>Mood: <i>Excited</i></p>
                <p>I just went to the gym after my Cogs 120 class and it felt great!</p>
            </td>

        </tr>
        <!--post 1-->

        <tr>
            <td>
                <img src="../images/Group.png">
            </td>
            <td>
                <p>Huy      10m</p>
                <p>Mood: <i>Neutral</i></p>
                <p>Nothing exciting happened today. Just another normal day.</p>
            </td>
        </tr>
        <!--post 2-->
    </section>

    <!--End of Recent Friend Posts--> 
            
</body>
</html>