<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/mslider.css">



    <title>Mood</title>
</head>

<body>

    <header>
        <h2>How are you feeling?</h2>
    </header>

    <div class="slidecontainer">
        <input type="range" min="1" max="1000" value="492" class="slider" id="myRange">
    <!--Range acting weird with button in different sized screens-->
    <!--Check Pixels of asset slider-->
    <!--works well enough for Pixel2 XL-->
    </div>
    
    <!--Have Winson make these a single asset-->
    <div class="facecontainer">
        <img class="sad" src="../images/A6 Assets/sad face.png">
        <img class="happy" src="../images/A6 Assets/happy face.png">
        <img class="neutral" src="../images/A6 Assets/neutral face.png">
    </div>
    <!--Have Winson make these a single asset-->

    <section class="buttoncontainer">
        <div class="buttonwrapper">
            <a href="home"><img class="skip" src="../images/A6 Assets/skip.png"></a>
            <a href="home"><img class="checkin" src="../images/A6 Assets/check in.png"></a>
        </div>
    </section>
            
</body>
</html>