<!DOCTYPE HTML>
<html>
<head>
    {{!-- <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134953827-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134953827-1');
    </script> --}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/mslider.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">




    <title>Mood</title>
</head>

<body>

    <header>
        <h2>How do you feel?</h2>
    </header>

    {{!-- <div class="slidecontainer">
        <input type="range" min="1" max="1000" value="492" class="slider" id="myRange">
    <!--Range acting weird with button in different sized screens-->
    <!--Check Pixels of asset slider-->
    <!--works well enough for Pixel2 XL-->
    </div>
    
    <!--Have Winson make these a single asset-->
    <div class="facecontainer">
        <img class="faces" src="../images/A6 Assets/faces_group.png">
    </div>
    <!--Have Winson make these a single asset--> --}}

    {{!-- TODO: Add assets for individual faces. And need continue/next button --}}

    {{!-- TODO: Fix CSS for buttons and or text --}}
    <section class="buttoncontainer">
        <img class="or" src="../images/A10 Assets/or_text.png">
        <div class="buttonwrapper">
            <a href="home"><img class="skip" src="../images/A10 Assets/Group 2.png"></a>
            <a href="entry"><img class="checkin" src="../images/A6 Assets/check in.png"></a>
        </div>
    </section>
            
</body>
</html>