<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/mslider.css">



    <title>Mood</title>
</head>

<body>

    <header>
        <h3>How are you feeling?</h3>
    </header>

    <div class="slidecontainer">
        <input type="range" min="1" max="90" value="45" class="slider" id="myRange">
    </div>

            
</body>
</html>