<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    


    <title>Mood</title>
</head>

<body>

     <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                <li><a href="home"><img src="https://img.icons8.com/material/24/000000/home-page.png"></a></li>
                <li><a href="profiles"><img src="https://img.icons8.com/material/24/000000/user.png"></a></li>
                <li><a class="active" href="overview"><img src="https://img.icons8.com/material/24/000000/combo-chart.png"></a></li>
                <li><a href="chats"><img src="https://img.icons8.com/material/24/000000/magazine.png"></a></li>
                <li><a href="groups"><img src="https://img.icons8.com/material/24/000000/groups.png"></a></li>  
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->


    {{!-- <div>
        <img class="overviewGraph" src="../images/graph .png">
    </div> --}}

    <!--Responsive graph for app-->
    <div class="ct-chart ct-perfect-fourth"></div>
    <script>
        var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                [-2, 0, -1, 0.5, 1]
            ]
        };

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        var chart = new Chartist.Line('.ct-chart', data);

    </script>
    <!--End graph-->


    <div>
        <h2 style="text-align: center">Day x Mood Level</h2>
    </div>

    <div>
        <table class="adjustTableOverview">
                <tr><td><u>Good Vibes</u></td></tr>
                <tr><td>Dance - Gym - Lofi - Sun - Running</td></tr>
                <tr><td><u>Bad Vibes</u></td></tr>
                <tr><td>Homework - Patricia - Boss - Diet</td></tr>
        </table>
    </div>


           
</body>
</html>