<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">


    <title>Mood</title>
</head>

<body>

     <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                <li><a href="home"><img src="../images/home-icon-silhouette.png"></a></li>
                <li><a href="profiles"><img src="../images/Group 8.png"></a></li>
                <li><a class="active" href="overview"><img src="../images/Path 3.png"></a></li>
                <li><a href="chats"><img src="../images/Group 6.png"></a></li>
                <li><a href="groups"><img src="../images/Group 2.png"></a></li>    
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->


    <div>
        <img class="overviewGraph" src="../images/graph .png">
    </div>

    <div>
        <h2 style="text-align: center">Time x Mood</h2>
    </div>

    <div>
        <table class="adjustTableOverview">
                <tr><td><u>Good Vibes</u></td></tr>
                <tr><td>Dance - Gym - Lofi - Sun - Running</td></tr>
                <tr><td><u>Bad Vibes</u></td></tr>
                <tr><td>Homework - Patricia - Boss - Diet</td></tr>
        </table>
    </div>
           
</body>
</html>