<!DOCTYPE HTML>
<html>
<head>
    <title>Profiles</title>
    <meta charset="utf-8">
</head>
<style>
    .navbar{
        display:flex;
        position:absolute;
        bottom:0;
    }
    body{
        background-color: cornflowerblue;
    }
    .home{
        height:100px;
        width:100px;
        padding:20px;
        margin:20px;
    }

    li{
        display: block;
        background-color: grey;
    }

    li:hover {
        background-color:hotpink;
    }

    h1{
        text-align: center;
        color: white;
        font-size: 100px;
        font-family: 'Courier New', Courier, monospace
    }
</style>

<body>
            
    <div>       
        <ul class="navbar">
                <li><a href="/"><img src="../images/home-icon-silhouette.png" class="home"></a></li>
                <li><a href="profiles"><img src="../images/Group 8.png" class="home"></a></li>
                <li><a href="overview"><img src="../images/Path 3.png" class="home"></a></li>
                <li><a href="chats"><img src="../images/Group 6.png" class="home"></a></li>
                <li><a href="groups"><img src="../images/Group 2.png" class ="home"></a></li>    
        </ul>    
    </div>

    <div><h1>PROFILES</h1></div><hr style="size:50px"></hr>

     
</body>
</html>