<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/profiles.css">



    <title>Mood</title>

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body>

    <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                <li><a href="home"><img src="https://img.icons8.com/material/24/000000/home-page.png"></a></li>
                <li><a class="active" href="profiles"><img src="https://img.icons8.com/material/24/000000/user.png"></a></li>
                <li><a href="overview"><img src="https://img.icons8.com/material/24/000000/combo-chart.png"></a></li>
                <li><a href="chats"><img src="https://img.icons8.com/material/24/000000/magazine.png"></a></li>
                <li><a href="groups"><img src="https://img.icons8.com/material/24/000000/groups.png"></a></li> 
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->

    <div id="facebookPhoto" class="profile_photo">
    <img id="photo" class='img-responsive' src="http://hci.stanford.edu/courses/cs547/Resources/Pictures/klemmer_grad.jpg" />
    </div>

    <h4 id="name" class="profile_name">Scott Klemmer</h4>
    <h4 class="uniqueID">13017392</h4>
    {{> facebook}}

    <div>
        <img class="QRCode" src="../images/QR Code.png">
    </div>

            
</body>
</html>