*, :after, :before{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #eee4cf;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    padding: 100px 0 100px 0;
    height: 35%;
    width: 35%
}

.bar {
    padding: 100px 0 0 0;
    width: 70%;
    height: 30px;
}

.bar2 {
    padding: 10px 0 0 0;
    width: 70%;
    height: 30px;
}

.button {
    padding: 30px 0 20px 0;
}

#center{
    margin: 0 auto;
    text-align: center;
}

.gobutton {
    padding: 20px 0 0 0;

}

input[type=text], input[type=password] {
  width: 70%;
  height: 20px;
  padding: 20px 20px;
  margin: 0 0 30px 15%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:15px;
}

/*adding this for journal entry*/
h2{
    padding: 120px 0 40px 0;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

.checkin{
    padding: 110px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry{
    width: 70%;
    height: 100%;
    padding: 20px 20px;
    margin: 20px 0 0 15%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:15px;
  }

p{
    margin: 0 0 .5em 15%;
}

.plus{
    float:right;
}

.entrybox{
    float:left;
    padding: 0 40px 0 0;
}

