*, :after, :before{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #eee4cf;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

h2{
    padding: 120px 0 170px 0;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

.slidecontainer {
    padding: 20px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.slider {
    -webkit-appearance: none;
    width: 358px;
    height: 45px;
    border-radius: 5px;
    background: url('../images/A6\ Assets/slider\ v2.png');
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}


.facecontainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.faces{
    width: 94%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttoncontainer{
    padding: 120px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonwrapper{
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.or{
    display: block;
    margin-left: auto;
    margin-right: auto;
}