.img-responsive{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile_photo{
    padding-top: 10px;
}

.profile_name{
    padding: 5px 0 0 0;
    text-align: center;
}

.QRCode{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.uniqueID{
    padding: 0 0 0 0;
    text-align: center;
    font-size: small;
    color: grey;
}