
*, :after, :before{
        margin: 0;
        padding: 0;
        border: 0;
}

body{
        background-color: cornflowerblue;
        margin: 0;
}

/*--idk what this is doing*/
ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
}
/*--idk what this is doing*/

.navbar {
        width: 100%;
        background-color: grey;
        overflow: auto;
}

.navbar a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
      }
      
.navbar a:hover {
        background-color:hotpink;
}
      
.active {
        background-color: #4CAF50;
}

.title1 {
        text-align: center;
        padding: 0 0 40px;
}

.title2 {
        text-align: center;
        padding: 40px 0 40px;
}

table img {
        padding: 0 20px 45px 10px;
}

.adjustTableOverview {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0 35px 0;
        width: 70%;
        height: 70%;
}

.overviewGraph {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0 35px 0;
        width: 70%;
        height: 70%;
}

tr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px 0 10px;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    
.logo {
        padding: 90px 0 110px 0;
}
    
.bar {
        padding: 100px 0 0 0;
        width: 70%;
        height: 30px;
}
    
.bar2 {
        padding: 10px 0 0 0;
        width: 70%;
        height: 30px;
}
    
.button {
        padding: 30px 0 0 0;
}
    
    
.gobutton {
        padding: 20px 0 0 0;
        height: 50px;
        width: 90px;
}
    
input[type=text], input[type=password] {
      width: 70%;
      height: 20px;
      padding: 12px 20px;
      margin: 15px 0 0 15%;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius:15px;
}