
*, :after, :before{
        margin: 0;
        padding: 0;
        border: 0;
}

body{
        background-color: #eee4cf; /*messing with colors*/
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 45px;
}

h2{
        font-family: 'Montserrat', sans-serif;

}

/*--idk what this is doing*/
ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
        background-color: grey;
}
/*--idk what this is doing*/

.navbar {
        width: 100%;
        background-color: white;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-bottom: 0px;
        /*position: sticky; /*holds havbar in place*/
        /*top: 0; /*keeps it at the top*/
}

.navbar a {
        float: left;
        display: block;
        width: 33.33333333%;
        text-align: center;
        padding: 0 20px 0 23px;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
        text-decoration: none;
      }
      
.navbar a:hover {
        background-color: grey;
}
      
.active {
        background-color: #ed647d;
}

.title1 {
        text-align: center;
        padding: 0 0 5px;
}

.title2 {
        text-align: center;
        padding: 40px 0 40px;
}

table img {
        padding: 0 20px 25px 10px;
}


.adjustTableOverview {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0 35px 0;
        width: 70%;
        height: 70%;
}

.overviewGraph {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0 35px 0;
        width: 70%;
        height: 70%;
}

table tr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px 20px 10px;
}

b{
        color: rgb(0, 238, 107);
}

.post {
        padding-top: 20px;
}

.graph {
        padding-top: 30px;
}

.middle {
        text-align: center;
}

.img1 {
        width: 100%;
        padding: 0 0 15px 0;
}